<!--
  Generated template for the UserProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar>
<button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>My Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
        </button>
    </ion-buttons> 
  </ion-navbar>

</ion-header>


<ion-content padding>
 <form [formGroup]="signupForm" (submit)="updateUser()" novalidate>
 <ion-item>
      <ion-label stacked>Name</ion-label>
      <ion-input formControlName="myName" [(ngModel)]="myName">
       </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Phone</ion-label>
      <ion-input formControlName="myPhone" value={{myPhone}} [(ngModel)]="myPhone" type="phone" [attr.maxlength]=10>
       </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Organization</ion-label>
      <ion-input formControlName="myOrg" [(ngModel)]="myOrg" >
       </ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" [(ngModel)]="email" type="email" 
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" 
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    </form>
    <hr>
    <ion-label  stacked ><ion-icon name="pricetags" color="primary"></ion-icon> Companies I submitted</ion-label>
<ion-list>
  <ion-item *ngFor="let c of Contributions|async; let i=index">
  <h1>{{c.Orgn}}</h1>
   <h3>{{c.Supplier}}</h3>
   </ion-item>
    </ion-list>
    
    
    
</ion-content>
