page-home {
.hr{
background-color:#107698;
}
.card-background-page {
background-color: #f3f3f3;
  ion-card {
    position: relative;
    text-align: center;
background-color:#f4f4f4;
  }
 
  .card-title {
    
    background-color: #107896;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 12%;
    width: 100%;
    color: #ffd123;
  }

}
}
