<!--
  Generated template for the SearchQueryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-label  stacked ><ion-icon name="pricetags" color="primary"></ion-icon> Click to Choose Product Category</ion-label>
<ion-list>
  <ion-item *ngFor="let c of Categories|async; let i=index" text-wrap (click)="toggleGroup(i,c.$key)" [ngClass]="{active: isGroupShown(i)}">
    <ion-thumbnail item-start>
            <img src="assets/img/{{c.$key}}.jpg">
        </ion-thumbnail> 
    <h1>
      {{c.$key}}
      <ion-icon color="primary" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
    </h1>
    <div *ngIf="isGroupShown(i)">
    <ion-list>
    <ion-item *ngFor="let p of Products|async" text-wrap (click)="search(p.$key,c.$key)">
    <h3>
      {{p.$key}}
      <ion-icon color="secondary" item-right></ion-icon>
    </h3>
    </ion-item>
  </ion-list>
   </div>
   </ion-item>
</ion-list>
</ion-content>
    
