page-search-result {
p{
  word-break: break-all;
  white-space: normal;
color: map-get($colors,primary);
}

ion-card-header {
background-color:#ffb745;
}
h1{
color:red;
}
ion-card-content {
background-color:map-get($colors,dark);
}
}
